{% extends 'AtoK_app/index.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body
      {
      background-image:url("{% static  'images/save.jpg' %}");
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      }
      </style>
  </head>
  
<body> 
    <h1><center> Chronic Kidney Disease(CKD) With Water Fluoride</center></h1> 

    
    {% endblock %}
  </body>
  </html>