
{% extends 'AtoK_app/index.html' %}
{% block title %} ExpertSystem {% endblock %}
{% block content %}
{% load static %}

<article class="dk-content">
    <h1 itemprop="name">Eating Right for Chronic Kidney Disease</h1>
<div class="health-detail-content">

<p>You may need to change what you eat to manage your chronic kidney disease (CKD). Work with a registered dietitian to develop a meal plan that includes foods that you enjoy eating while maintaining your kidney health.</p>
<p>The steps below will help you eat right as you manage your kidney disease. The first three steps (1-3) are important for all people with kidney disease. The last two steps (4-5) may become important as your kidney function goes down.</p>
<h2>The first steps to eating right</h2>
<h3 id="sodium">Step 1: Choose and prepare foods with less salt and sodium</h3>
<p><strong>Why?</strong> To help control your blood pressure. Your diet should contain less than 2,300 milligrams of sodium each day.</p>
<ul>
<li>Buy fresh food often. Sodium (a part of salt) is added to many prepared or packaged foods you buy at the supermarket or at restaurants.</li>
<li>Cook foods from scratch instead of eating prepared foods, “fast” foods, frozen dinners, and canned foods that are higher in sodium. When you prepare your own food, you control what goes into it.</li>
<li>Use spices, herbs, and sodium-free seasonings in place of salt.</li>
<li>Check for sodium on the Nutrition Facts label of food packages. A Daily Value of 20 percent or more means the food is high in sodium.</li>
<li>Try lower-sodium versions of frozen dinners and other convenience foods.</li>
<li>Rinse canned vegetables, beans, meats, and fish with water before eating.</li>
</ul>
<p>Look for food labels with words like sodium free or salt free; or low, reduced, or no salt or sodium; or unsalted or lightly salted.</p>
<figure class="small center" id="label">
<img alt="An example of a Nutrition Facts food label that shows a Percent Daily Value of 5 percent of sodium per serving." src="{% static 'images/Nutrition_Facts.jpeg' %}">
<figcaption>Look for sodium on the food label. A food label showing a Percent Daily Value of 5% or less is low sodium. Also look for the amount of saturated and trans fats listed on the label.</figcaption>
</figure>
<h3 id="protein">Step 2: Eat the right amount and the right types of protein</h3>
<p><strong>Why?</strong> To help protect your kidneys. When your body uses protein, it produces waste. Your kidneys remove this waste. Eating more protein than you need may make your kidneys work harder.</p>
<ul>
<li>Eat small portions of protein foods.</li>
<li>Protein is found in foods from plants and animals. Most people eat both types of protein. Talk to your dietitian about how to choose the right combination of protein foods for you.</li>
</ul>
<p><strong>Animal-protein foods:</strong></p>
<ul>
<li>Chicken</li>
<li>Fish</li>
<li>Meat</li>
<li>Eggs</li>
<li>Dairy</li>
</ul>
<p>A cooked portion of chicken, fish, or meat is about 2 to 3 ounces or about the size of a deck of cards. A portion of dairy foods is ½ cup of milk or yogurt, or one slice of cheese.</p>
<p><strong>Plant-protein foods:</strong></p>
<ul>
<li>Beans</li>
<li>Nuts</li>
<li>Grains</li>
</ul>
<p>A portion of cooked beans is about ½ cup, and a portion of nuts is ¼ cup. A portion of bread is a single slice, and a portion of cooked rice or cooked noodles is ½ cup.</p>
<h3>Step 3: Choose foods that are healthy for your heart</h3>
<p><strong>Why?</strong> To help keep fat from building up in your blood vessels, heart, and kidneys. </p>
<ul>
<li>Grill, broil, bake, roast, or stir-fry foods, instead of deep frying.</li>
<li>Cook with nonstick cooking spray or a small amount of olive oil instead of butter.</li>
<li>Trim fat from meat and remove skin from poultry before eating.</li>
<li>Try to limit saturated and trans fats. Read the food label. </li>
</ul>
<p><strong>Heart-healthy foods:</strong></p>
<ul>
<li>Lean cuts of meat, such as loin or round</li>
<li>Poultry without the skin</li>
<li>Fish</li>
<li>Beans</li>
<li>Vegetables</li>
<li>Fruits</li>
<li>Low-fat or fat-free milk, yogurt, and cheese</li>
</ul>
<p><strong>Limit alcohol</strong><br />
Drink alcohol only in moderation: no more than one drink per day if you are a woman, and no more than two if you are a man. Drinking too much alcohol can damage the liver, heart, and brain and cause serious health problems. Ask your health care provider how much alcohol you can drink safely.</p>
<h2>The next steps to eating right</h2>
<p><strong>As your kidney function goes down,</strong> you may need to eat foods with less phosphorus and potassium</a>. Your health care provider will use lab tests to check phosphorus and potassium levels in your blood, and you can work with your dietitian to adjust your meal plan. More information is provided in the NIDDK health topic, Nutrition for Advanced Chronic Kidney Disease</a>.</p>
<h3 id="phosphorus">Step 4: Choose foods and drinks with less phosphorus</h3>
<p><strong>Why?</strong> To help protect your bones and blood vessels. When you have CKD, phosphorus can build up in your blood. Too much phosphorus in your blood pulls calcium from your bones, making your bones thin, weak, and more likely to break. High levels of phosphorus in your blood can also cause itchy skin, and bone and joint pain.</p>
<ul>
<li>Many packaged foods have added phosphorus. Look for phosphorus—or for words with “PHOS”—on ingredient labels.</li>
<li>Deli meats and some fresh meat and poultry can have added phosphorus. Ask the butcher to help you pick fresh meats without added phosphorus.</li>
</ul>
<table data-tablesaw-mode="stack">
<tbody>
<tr>
<td valign="top">
<div style="text-align: center;">Foods <strong>Lower</strong> in Phosphorus</div>
<ul>
<li>Fresh fruits and vegetables</li>
<li>Breads, pasta, rice</li>
<li>Rice milk (not enriched)</li>
<li>Corn and rice cereals</li>
<li>Light-colored sodas/pop, such as lemon-lime or homemade iced tea</li>
</ul>
</td>
<td valign="top">
<div style="text-align: center;">Foods <strong>Higher</strong> in Phosphorus</div>
<ul>
<li>Meat, poultry, fish</li>
<li>Bran cereals and oatmeal</li>
<li>Dairy foods</li>
<li>Beans, lentils, nuts</li>
<li>Dark-colored sodas/pop, fruit punch, some bottled or canned iced teas that have added phosphorus</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Your health care provider may talk to you about taking a phosphate binder with meals to lower the amount of phosphorus in your blood. A phosphate binder is a medicine that acts like a sponge to soak up, or bind, phosphorus while it is in the stomach. Because it is bound, the phosphorus does not get into your blood. Instead, your body removes the phosphorus through your stool.</p>
<h3 id="potassium">Step 5: Choose foods with the right amount of potassium</h3>
<p><strong>Why?</strong> To help your nerves and muscles work the right way. Problems can occur when blood potassium levels are too high or too low. Damaged kidneys allow potassium to build up in your blood, which can cause serious heart problems. Your food and drink choices can help you lower your potassium level, if needed. </p>
<ul>
<li>Salt substitutes can be very high in potassium. Read the ingredient label. Check with your provider about using salt substitutes.</li>
<li>Drain canned fruits and vegetables before eating.</li>
</ul>
<table data-tablesaw-mode="stack">
<tbody>
<tr>
<td style="width: 50%;" valign="top">
<div style="text-align: center;">Foods <strong>Lower</strong> in Potassium</div>
<ul>
<li>Apples, peaches</li>
<li>Carrots, green beans</li>
<li>White bread and pasta</li>
<li>White rice</li>
<li>Rice milk (not enriched)</li>
<li>Cooked rice and wheat cereals, grits</li>
<li>Apple, grape, or cranberry juice</li>
</ul>
</td>
<td valign="top">
<div style="text-align: center;">Foods <strong>Higher</strong> in Potassium</div>
<ul>
<li>Oranges, bananas, and orange juice</li>
<li>Potatoes, tomatoes</li>
<li>Brown and wild rice</li>
<li>Bran cereals</li>
<li>Dairy foods</li>
<li>Whole-wheat bread and pasta</li>
<li>Beans and nuts</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Some medicines also can raise your potassium level. Your health care provider may adjust the medicines you take.</p>
<p>View tips for people with chronic kidney disease:</p>
<ul>
    <li><a href="SodiumTipsforPeopleCKD_EN" download="SodiumTipsforPeopleCKD_EN.pdf">Sodium</a> <span class="file-size">(PDF, 167.43 KB)</span></li>
    <li><a href="/-/media/Files/Health-Information/Health-Professionals/Kidney-Disease/PhosphorusTipsforPeopleCKD_EN.pdf">Phosphorus</a> <span class="file-size">(PDF, 529.67 KB)</span> <i title="PDF document" class="file-pdf"></i></li>
    <li><a href="/-/media/Files/Health-Information/Health-Professionals/Kidney-Disease/PotassiumTipsforPeopleCKD_EN.pdf">Potassium</a> <span class="file-size">(PDF, 158.93 KB)</span> <i title="PDF document" class="file-pdf"></i></li>
    <li><a href="/-/media/Files/Health-Information/Health-Professionals/Kidney-Disease/ProteinTipsforPeopleCKD_EN.pdf">Protein</a> <span class="file-size">(PDF, 1.15 MB)</span> <i class="file-pdf" title="PDF document"></i></li>
</ul>
{% endblock %}
